/****** General ***********/
*,
::before,
::after {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --border-color: #d9d9d9;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration: none;
}

.fa-solid {
  color: var(--main-color);
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;
  box-sizing: border-box;
}

/********** HeaderNavbar **********/

.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar__logo {
  padding: 30px 0;
}

#logo {
  height: 20px;
}

.navbar__links {
  height: 35px;
  padding: 0 50px;
  display: flex;
  gap: 68px;
}

.navbar__links a {
  display: flex;
  align-items: flex-end;
  border-top: 2px solid transparent;
  transition: color 250ms ease, border 250ms ease;
  /* transition au breakpoint qui pose légérement problème */
}

.navbar__links a:hover {
  color: var(--main-color);
  border-top-color: var(--main-color);
}

/********** HeaderNavbarRESPONSIVE **********/

@media screen and (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }
  .navbar__logo {
    margin: auto;
  }
  .navbar__links {
    padding: 0;
    gap: 0;
    flex-basis: 100%;
  }
  .navbar__links a {
    flex-basis: 50%;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 2px solid var(--main-bg-color);
  }
  .navbar a:hover,
  .navbar__links a:active {
    border-bottom-color: var(--main-color);
    border-top-color: transparent;
  }
}

/********** MainSectionINFO-GROUP **********/

.info-group {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.headline_title {
  font-size: 1.375rem;
  margin-bottom: 8px;
}

@media screen and (max-width: 767.98px) {
  .info-group {
    padding: 30px 20px 0;
  }
}

/********** MainSectionINFO-GROUPform **********/

.search-bar form {
  display: flex;
}

.search-bar .fa-solid.fa-location-dot {
  padding: 15px 18px;
  border-radius: 15px 0 0 15px;
  background: var(--main-bg-color);
  color: #000;
}

.search-bar input,
.search-bar button {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.search-bar input {
  width: 180px;
  border: 1px solid var(--main-bg-color);
  text-align: center;
  outline: none;
}

.search-bar button {
  padding: 0 15px;
  border-radius: 0 15px 15px 0;
  color: #fff;
  background-color: var(--main-color);
}

.search-bar .fas.fa-search {
  display: none;
}

/********** MainSectionINFO-GROUPformRESPONSIVE **********/

@media screen and (max-width: 767.98px) {
  .search-bar .fas.fa-search {
    display: block;
  }
  .search-bar span {
    display: none;
  }
  .search-bar input {
    width: 100%;
  }
  .search-bar button {
    position: relative;
    right: 5%;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

/********** MainSectionINFO-GROUPfilter-bar **********/

.filter-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 700;
}

.filter-bar__title {
  font-size: 1.125rem;
  margin-right: 15px;
}

.filter-bar__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.filter-bar__list li {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid var(--border-color);
  border-radius: calc(Infinity * 1px);
  /* border-radius: 25px; */
  padding: 12px 20px;
  font-size: 1.063rem;
  cursor: pointer;
  transition: background 250ms ease;
}

.filter-bar__list li:hover {
  background: var(--filter-bg-color);
}

@media screen and (max-width: 1024px) {
  .filter-bar__title {
    width: 100%;
    padding-bottom: 20px;
  }
  .filter-bar__list li {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .filter-bar__list li {
    flex: 1;
    font-size: 0.875rem;
  }
}

/********** MainSectionINFO-GROUPinfo-bar **********/

.info-bar p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-bar p::before {
  content: "\f129";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 0.625rem;
  color: var(--main-color);
  border: 1px solid var(--border-color);
  border-radius: calc(Infinity * 1px);
  padding: 6px 10px;
}

/********** Hebergements and Populaires **********/ /********** Hebergements and Populaires **********/

.section-title {
  font-size: 1.375rem;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 1rem;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.hebergements-and-populaires .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-and-populaires .card-rating {
  margin-bottom: 5px;
}

/****** Hebergements ***********/

.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 30px 0;
}

.hebergements-cards .card-content {
  padding-left: 15px;
}

.hebergements-cards img {
  width: 100%;
  height: 119px;
  border-radius: 15px 15px 0 0;
}

.hebergements-cards .card-subtitle {
  margin-bottom: 4px;
}

/****** Populaires ***********/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 30px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-radius: 15px 0 0 15px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

/****** Hebergements And PopulairesSHOW-MORE ***********/

.show-more button {
  font-weight: bold;
  font-size: 1.125rem;
  background: none;
  cursor: pointer;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media screen and (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 0.875rem;
  }

  .populaires-cards .card-subtitle {
    font-size: 0.813rem;
  }
  .populaires-cards .card {
    margin-top: 20px;
  }
}

/****** Media queries ***********/
/* Small devices (phones, less than 768px) */

@media screen and (max-width: 767.98px) {
  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }
  .hebergements-and-populaires .populaires,
  .hebergements-and-populaires .hebergements {
    border-radius: 0;
  }
  .hebergements-and-populaires .hebergements {
    background: #fff;
  }
  .hebergements-cards {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 15px 0;
  }
  .populaires {
    margin-top: 0;
  }
  .populaires-cards {
    flex-direction: column;
  }
  .populaires-cards a {
    width: 100%;
  }
}

/********** Activities **********/

.activities {
  padding: 30px;
}

.activities-title {
  font-size: 1.375rem;
  font-weight: bold;
}

.activities-cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 30px;
  margin-top: 30px;
}

.activities-card {
  width: 20%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.activities .card-title {
  padding: 15px;
  font-size: 1rem;
}

.activities-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/********** ActivitiesRESPONSIVE **********/

@media screen and (max-width: 1024px) {
  .activities-card img {
    height: 200px;
  }
  .activities-card {
    width: 25%;
  }
}

@media screen and (max-width: 767.98px) {
  .activities-cards {
    flex-direction: column;
    gap: 15px;
  }
  .activities-card {
    width: 100%;
  }
  .activities-card img {
    height: 120px;
  }
}

/********** Footer **********/

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--main-bg-color);
  margin-top: 35px;
  padding: 30px;
}

.footer-content li {
  margin: 15px 0;
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-title {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 35px;
  }
}
